<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
	  <%= form.label :master_id %>
	  <%= form.select :master_id, Master.pluck(:name, :id), :include_blank => true %>
  </div>

  <div class="field">
    <%= form.label :fill_murray, "Fill Murray" %>
    <%= form.check_box :fill_murray %>
  </div>

  <div class="field">
    <%= form.label :place_cage, "Place Cage" %>
    <%= form.check_box :place_cage %>
  </div>

  <div class="field">
    <%= form.label :custom_header, "Custom Header" %>
    <%= form.check_box :custom_header %>
  </div>

  <div class="field">
    <%= form.label :custom_header_text %>
    <%= form.text_area :custom_header_text, :style => "width: 400px" %>
  </div>

  <div class="field">
    <%= form.label :paragraph_background, "Paragraph Background Hex#" %>
    <%= form.text_field :paragraph_background %>
  </div>

  <div class="field">
    <%= form.label :paragraph_color, "Paragraph Text Hex#" %>
    <%= form.text_field :paragraph_color %>
  </div>

  <div class="field">
    <%= form.label :snap, "Snap 404 Page?" %>
    <%= form.check_box :snap %>
  </div>

  <div class="field">
  	<%= form.label :stranger_things, "Stranger Things" %>
	<%= form.check_box :stranger_things %>
  </div>

  <div class="field">
  	<%= form.label :page_flip, "Page Flip" %>
	<%= form.check_box :page_flip %>
  </div>

  <div class="field">
  	<%= form.label :otherside %>
	<%= form.check_box :otherside %>
  </div>

  <div class="field">
  	<%= form.label :marquee %>
	<%= form.check_box :marquee %>
  </div>

  <div class="field">
  	<%= form.label :marquee_element, "Marquee Element" %>
	<%= form.text_field :marquee_element %>
  </div>

  <div class="field">
  	<%= form.label :marquee_speed, "Marquee Speed" %>
	<%= form.number_field :marquee_speed %>
  </div>

  <div class="field">
  	<%= form.label :unicorn_mode, "Unicorn Mode!" %>
	<%= form.number_field :unicorn_mode %>
  </div>

  <div class="field">
  	<%= form.label :word_swapper, "Word Swapper" %>
	<%= form.check_box :word_swapper %>
  </div>

  <div class="field">
  	<%= form.label :existing_word, "Existing Word" %>
	<%= form.text_field :existing_word %>
  </div>

  <div class="field">
  	<%= form.label :new_word, "New Word" %>
	<%= form.text_field :new_word %>
  </div>

  <div class="field">
  	<%= form.label :hidden_video, "Hidden Video" %>
	<%= form.check_box :hidden_video %>
  </div>

  <div class="field">
  	<%= form.label :hidden_video_url, "Hidden Video URL" %>
	<%= form.text_area :hidden_video_url, :style => "width: 400px" %>
  </div>

  <div class="field">
  	<%= form.label :hidden_video_element, "Hidden Video Element Selector" %>
	<%= form.text_field :hidden_video_element%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
