<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Fill murray</th>
      <th>Place cage</th>
      <th>Custom header</th>
      <th>Custom header text</th>
      <th>Master</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.fill_murray %></td>
        <td><%= user.place_cage %></td>
        <td><%= user.custom_header %></td>
        <td><%= user.custom_header_text %></td>
        <td><%= user.master_id %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
