<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Fill murray:</strong>
  <%= @user.fill_murray %>
</p>

<p>
  <strong>Place cage:</strong>
  <%= @user.place_cage %>
</p>

<p>
  <strong>Custom header:</strong>
  <%= @user.custom_header %>
</p>

<p>
  <strong>Custom header text:</strong>
  <%= @user.custom_header_text %>
</p>

<p>
  <strong>Paragraph Background Hex Color:</strong>
  <% if @user.paragraph_background == '' %>
		n/a
  <% else %>
		<%= @user.paragraph_background %>
  <% end %>
</p>

<p>
  <strong>Paragraph Text Hex Color:</strong>
  <% if @user.paragraph_color == '' %>
		n/a
  <% else %>
		<%= @user.paragraph_color %>
  <% end %>
</p>

<p>
  <strong>Master:</strong>
  <%= @user.master.name %>
</p>

<%= link_to 'Masters', masters_path %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
