<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
	<strong>Master:</strong>
	<%= @user.master.name %>
</p>

<p>
  <strong>Fill murray:</strong>
  <%= @user.fill_murray %>
</p>

<p>
  <strong>Place cage:</strong>
  <%= @user.place_cage %>
</p>

<p>
  <strong>Custom header:</strong>
  <%= @user.custom_header %>
</p>

<p>
  <strong>Custom header text:</strong>
  <%= @user.custom_header_text %>
</p>

<p>
  <strong>Paragraph Background Hex Color:</strong>
  <% if @user.paragraph_background == '' %>
		n/a
  <% else %>
		<%= @user.paragraph_background %>
  <% end %>
</p>

<p>
  <strong>Paragraph Text Hex Color:</strong>
  <% if @user.paragraph_color == '' %>
		n/a
  <% else %>
		<%= @user.paragraph_color %>
  <% end %>
</p>

<p>
  <strong>Snap/404:</strong>
  <%= @user.snap %>
</p>

<p>
	<strong>Stranger Things:</strong>
	<%= @user.stranger_things %>
</p>

<p>
	<strong>Page Flip:</strong>
	<%= @user.page_flip %>
</p>

<p>
	<strong>Otherside:</strong>
	<%= @user.otherside %>
</p>

<p>
	<strong>Marquee:</strong>
	<%= @user.marquee %>
</p>

<p>
	<strong>Marquee Element:</strong>
	<%= @user.marquee_element %>
</p>

<p>
	<strong>Marquee Speed:</strong>
	<%= @user.marquee_speed %>
</p>

<p>
	<strong>Unicorn Mode:</strong>
	<%= @user.unicorn_mode %>
</p>

<p>
	<strong>Word Swapper:</strong>
	<%= @user.word_swapper %>
</p>

<p>
	<strong>Existing Word:</strong>
	<%= @user.existing_word %>
</p>

<p>
	<strong>New Word:</strong>
	<%= @user.new_word %>
</p>

<p>
	<strong>Hidden Video:</strong>
	<%= @user.hidden_video %>
</p>

<p>
	<strong>Hidden Video URL:</strong>
	<%= @user.hidden_video_url %>
</p>

<p>
	<strong>Hidden Video Element Select:</strong>
	<%= @user.hidden_video_element %>
</p>

<%= link_to 'Masters', masters_path %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
